@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    width: 5px;
    background-color: #E0F7FA;
}

html::-webkit-scrollbar-thumb{
    background-color: #003366;
    border-radius: 20px;
}

.customScrollbar::-webkit-scrollbar{
    width: 5px;
    background-color: #edf3f5;
    border-radius: 20px;
}

.customScrollbar::-webkit-scrollbar-thumb{
    background-color: #003366;
    border-radius: 20px;
}

.productScrollbar::-webkit-scrollbar{
    width: 5px;
    background-color: #003366;
    border-radius: 20px;
}

.productScrollbar::-webkit-scrollbar-thumb{
    background-color: #868686;
    border-radius: 20px;
}


#navbar li{
    position: relative;
}

#navbar a::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.3s;
    border-radius: 2px;
}

#navbar a:hover::after,
#navbar .active::after{
    width: 100%;
}